@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner-section Starts */
.Banner-section {
    width: 100%;
    /* max-width: 1440px; */
    height: 652px;
    /* border: 2px solid salmon; */
    background-image: url('assets/Hero-bg.png'); 
    background-size: cover; 
    background-position: center;
    left: 0;
    right: 0;
    top: 131px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-div {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 20px; 
}

.main-div h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.main-div p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.main-div button {
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-family: Azeret Mono;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Banner-section Ends */


/* Why-Web-Development-section Starts */
.main-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 1048px; 
    padding-top: 20px;
    /* border: 2px solid salmon; */
}

.Why-Web-Development-section {
    width: 1140px;
    height: auto; 
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Why-Web-Development-section h2 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px; 
}

.Why-Web-Development-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px; 
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    /* border: 2px solid rgb(114, 141, 250); */
}

.content-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #f9f9f9; 
    padding: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.content-item.reverse {
    flex-direction: row-reverse; 
}

.content-item .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-item .text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.content-item .text p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px; 
}

.content-item .text button {
    background-color: white;
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left; 
    padding: 10px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; 
    margin-top: 10px; 
}

.content-item .image {
    max-width: 200px;
    height: auto; 
    display: block;
}

.content-item.reverse .image {
    margin-right: 20px;
    margin-left: 0;
}

.content-item .image img {
    width: 100%; 
    height: auto; 
}

/* Why-Web-Development-section Ends */


/* My Inspiration Section Starts */

.main-inspiration-container {
   
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 810px; 
    padding-top: 20px;
    margin-bottom: 40px;
    /* border: 2px solid salmon; */

}

.my-inspiration-section {
    width: 1140px;
    height: 775px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-content-wrapper {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.my-inspiration-section h3 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.my-inspiration-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
    
}

.my-inspiration-section .iframe-container {
    width: 100%;
    height: 400px; 
    margin-top: 20px;
    border: 2px solid #ccc; 
}

.my-inspiration-section .iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* My Inspiration Section Ends */


/* My Current Target Starts */

.target-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 535px;
    background-color: #f9f9f9; 
    /* border: 2px solid salmon; */
}
.current-target-section {
    width: 1140px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-target-section h3 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
}

.current-target-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 364px;
    height: 299px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px; /* Adjust margin between cards */
}

.card:last-child {
    margin-right: 0; /* Remove margin from the last card */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    text-align: left;
}

.icon {
    font-size: 48px; /* Adjust icon size */
    margin-bottom: 10px;
}

.icon img {
    width: 64px; /* Adjust image size */
    height: 64px;
}

.card h4 {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-bottom: 10px;
}

.card p {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    color: rgb(13, 19, 33);
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}

.card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
/* My-Current-Target-Ends */

























