@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Banner-section Starts */
.Banner-section {
    width: 100%;
    /* max-width: 1440px; */
    height: 652px;
    /* border: 2px solid salmon; */
    background-image: url('assets/Hero-bg.png'); 
    background-size: cover; 
    background-position: center;
    left: 0;
    right: 0;
    top: 131px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-div {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 20px; 
}

.main-div h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.main-div p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.main-div button {
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-family: Azeret Mono;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Banner-section Ends */

/* Why-Web-Development-section Starts */
.main-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 1048px; 
    padding-top: 20px;
    /* border: 2px solid salmon; */
}

.Why-Web-Development-section {
    width: 1140px;
    height: auto; 
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Why-Web-Development-section h2 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px; 
}

.Why-Web-Development-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px; 
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    /* border: 2px solid rgb(114, 141, 250); */
}

.content-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #f9f9f9; 
    padding: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    
}

.content-item .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 2px solid seagreen; */
    margin-right: 95px;
}
    

/* Target the second content item */
.content-item:nth-child(2) .text {
    margin-left: 95px; 
}


.content-item .text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.content-item .text p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px; 
    
}
#contact-link {
    text-decoration: none; 
    color: #fff; 
    cursor: pointer;
}
.content-item .text button {
    background-color: white;
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left; 
    padding: 10px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; 
    margin-top: 10px; 
    
}

.content-item .image {
    max-width: 200px;
    height: auto; 
    display: block;
    /* border: 2px solid seagreen; */
    margin-right: 50px;
}

.content-item .image img {
    width: 100%; 
    height: auto; 
}

/* Why-Web-Development-section Ends */


/* My Inspiration Section Starts */

.main-inspiration-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 810px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.my-inspiration-section {
    width: 1140px;
    height: 775px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-content-wrapper {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.my-inspiration-section h3 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.my-inspiration-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
}

.my-inspiration-section .iframe-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px; 
    overflow: hidden; 
}

.iframe-wrapper {
    padding: 15px; 
    height: 100%;
    width: 100%;
     
}

.my-inspiration-section .iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px; 
    
}

/* My Inspiration Section Ends */


/* My Current Target Starts */

.target-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 535px;
    background-color: #f9f9f9; 
    /* border: 2px solid salmon; */
}
.current-target-section {
    width: 1140px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-target-section h3 {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
}

.current-target-section p {
    color: rgb(13, 19, 33);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 364px;
    height: 299px;
    /* background-color: #f9f9f9; */
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px; 
}

.card:last-child {
    margin-right: 0; 

}

.card:nth-child(1) {
    background-color: rgba(255, 76, 30, 0.05);
}

.card:nth-child(2) {
    background-color: rgba(0, 76, 232, 0.05);
}

.card:nth-child(3) {
    background-color: rgba(255, 223, 0, 0.05);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

.icon {
    font-size: 48px; 
    margin-bottom: 10px;
}

.icon img {
    width: 64px; 
    height: 64px;
}

.card h4 {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-bottom: 10px;
}

.card p {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    color: rgb(13, 19, 33);
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}

.card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
/* My-Current-Target-Ends */



/* main-footer */

.main-footer {
    width: 100%;
    background-image: url('assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    height: 313px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.footer-content {
    width: 1140px;
    text-align: center;
    /* color: #fff; */
}

.footer-content h2 {
    color: rgb(255, 255, 255);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    
}

.footer-content p {
    color: rgb(255, 255, 255);
    font-family: 'Azeret Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;

}

.social-icons a {
    margin: 0 10px;
}

.social-icon {
    width: 24px; 
    height: 24px;
    
}

.contact-form {
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-form input[type="email"] {
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    margin-top: 20px;
}
    
.contact-form button {
    background-color: white;
    color: rgb(13, 19, 33);
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    font-family: Azeret Mono;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}

/* New Footer CSS */
.secondary-footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 150px;
    
}

.secondary-footer .footer-content {
    width: 100%;
    max-width: 1440px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-footer p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    margin: 0; 
}

.secondary-footer .social-icons {
    display: flex;
    align-items: center; 
}

.secondary-footer .social-icons a {
    margin-left: 20px;
}






